<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.findrest"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        tools:node="replace"
        <activity android:name=".signin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Toilet_info"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".toilet_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".write_opinion"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.yongbeam.y_photopicker.util.photopicker.PhotoPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yongbeam.y_photopicker.util.photopicker.PhotoPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yongbeam.y_photopicker.util.photopicker.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".watch_allreview"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".fragment.MyinfoFragment"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity
            android:name=".fragment.SettingInfo"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>



        <activity android:name=".change.change_nick"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".change.change_pwd"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragment.MyinfoFragment" />
        </activity>

        <activity android:name=".change.change_review"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragment.MyinfoFragment" />
        </activity>

        <activity android:name=".other.reviewpage"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".other.watch_member"
                  android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />


        </activity>
        <activity android:name=".other.enroll_event"
                  android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".watch_event">


        </activity>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>


    </application>

</manifest>